body
{
margin:0px;
border:0px;
}

#icon1
{
float:left;
width:30px;
height:30px;
position:relative;
top:10px;
left:10px;
}

.topbarsection
{
background-color:#7CDD85;
width:relative;
height:50px;
}

#s1
{
font-size:210%;
float:left;
position:relative;
left:25px;
top:6px;
padding-right:50px;

}

.menu
{
cursor: grab;
float:left;
position:relative;
font-size:135%;
border-left:1px #57845B solid;
padding:12px;
font-weight:bold;
color:#585B5A;
}
#bg 
{
  opacity: 0.2;
}
#Projects
{
	
}
